* {
    margin: 0;
    padding: 0;
    border: 0;
}

*:focus {
    outline: none;
}

article {
    max-width: 800px;
    margin: auto;
}

article > header {
    margin-bottom: 10px;
}

article footer {
    color: #fcfcfe;
    font-family: Roboto, sans-serif;
    background-color: #3d4652;
    padding: 10px 20px;
}

.back {
    float: right;
}

.back a {
    font-family: Roboto;
    text-decoration: none;
    color: #fcfcfe;
}

html {
    background-color: #fcfcfe;
}

body {
    font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

form {

}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, Georgia, Times, "Times New Roman", serif;
    color: #1a181c;
}

h1 {
    font-size: 4em;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    line-height: 4rem;
}

.title {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    background-color: #406c8e;
    color: #fcfcfe;
    padding: 15px;
    transition: letter-spacing 0.5s ease;
}

.title:hover {
    letter-spacing: 0.2em;
}

form {
    padding: 20px;
    width: 524px;
    margin: auto;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    margin-bottom: 10px;
    background-color: #fcfcfe;
}

form ul {
    list-style: outside none;
}

form li {
    padding: 12px 0;
    position: relative;
}

form label {
    font-family: Roboto, sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    width: 200px;
    margin-top: 3px;
    display: inline-block;
    float: left;
    padding: 3px;
}

form input {
    height: 20px;
    width: 300px  ;
    padding: 5px 8px;
    font: 1em Roboto;
    background-color: #fcfcfe;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;
}

form input:focus {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
}

button {
    background-color: #406c8e;
    color: #fcfcfe;
    padding: 15px;
    font-size: 1.1em;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    transition: background-color 0.3s
}

button:hover {
    background-color: #7dadd3;
    color: #fcfcfe;
}

button:active {
    background-color: #1a181c;
    color: #fcfcfe;
}

button.submit {
    margin-top: 20px;
    width: 100%;
}

body > header {
    background-color: #1a181c;
}

body > header > ul {
    list-style-type: none;
    overflow: hidden;
}

body > header li {
    float: left;
}

body > header a {
    display: block;
    color: #7dadd3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    transition: background-color 0.2s ease-in-out;
}

body > header li a:hover {
    background-color: #406c8e;
    color: #fcfcfe;
}

.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.pagination li {
    display: inline;
}

.pagination a {
    color: #fcfcfe;
    background-color: #3d4652;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #7dadd3;
    color: #1a181c;
}

ul.pagination li a:hover:not(.active) {
    background-color: #406c8e;
    color: #fcfcfe;
}

.not-active {
    pointer-events: none;
    cursor: default;
}

html {
    background-image: url("/resources/images/web.jpg");
    background-size: cover;
    background-attachment: fixed;
}

main {
    margin-top: 40px;
    opacity: 0.8;
}


.article-previews {
    max-width: 1140px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.article-previews li {
    background-color: #7dadd3;
    list-style: none;
    width: 550px;
    float: left;
    margin: 10px;
}

.article-previews header a {
    color: #fcfcfe;
    font-family: Roboto, sans-serif;
    font-size: 2em;
    font-weight: 300;
    text-decoration: none;
}

.article-previews header {
    background-color: #406c8e;
    padding: 20px;
}

.article-previews article {
    width: auto;
}

.article-previews footer {
    color: #fcfcfe;
    font-family: Roboto, sans-serif;
    background-color: #3d4652;
    padding: 10px 20px;
}

.article-previews article p {
    padding: 20px;
    height: 100px;
    font-family: Roboto;
}

.article-previews article p::first-line {
    font-size: 1.4em;
    font-weight: 400;
}

.article-previews li:nth-child(2n + 1) {
    clear: both;
}

.more {
    float: right;
}

.more a {
    font-family: Roboto;
    text-decoration: none;
    color: #fcfcfe;
}

.publication-list {
    max-width: 1140px;
    margin: auto;
    margin-top: 20px;
}

/* publication/show */

.article-content {
    font-family: Roboto, sans-serif;
    background-color: #7dadd3;
    margin-bottom: 10px;
    padding: 20px;
}

.article-content p {
    margin-bottom: 20px;
}

.article-content ul, .article-content ol {
    margin-left: 20px;
    margin-bottom: 20px;
}

.article-content li {
    margin-bottom: 10px;
}

article footer {
    margin-bottom: 40px;
}
